@tailwind base;
@tailwind components;
@tailwind utilities;

.slide-fade-enter-active {
  transition: all .8s ease;
}
.slide-fade-leave-active {
  transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to
{
  transform: translateX(10px);
  opacity: 0;
}
.slide-fade-item {
  transition: all 1s;
}



.logo-rainbow {
  margin-top: 0px;
  margin-bottom: 50px;
  text-align: center;
font-family: "Comic Sans MS", "Comic Sans", sans-serif;
  font-weight: bold;
  font-size: 2rem;
  letter-spacing: 0.15rem;
  text-transform: uppercase;
  color: #fff;
  text-shadow: -4px 4px #ef3550,
               -8px 8px #f48fb1,
               -12px 12px #7e57c2,
               -16px 16px #2196f3,
               -20px 20px #26c6da,
               -24px 24px #43a047,
               -28px 28px #eeff41,
               -32px 32px #f9a825,
               -36px 36px #ff5722;
}